:root{
  --ifm-color-primary-lightest: #469F2C;
  --ifm-color-primary-lighter: #3E8C27;
  --ifm-color-primary-light: #3B8625;
  --ifm-color-primary: #367a22;
  --ifm-color-primary-dark: #316E1F;
  --ifm-color-primary-darker: #2E681D;
  --ifm-color-primary-darkest: #265518;
}
